@charset "UTF-8";

/* Font */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); */
@import url('../fonts/import/roboto.css');
@import url('../fonts/import/notoSansKR.css');

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src: url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    src: url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    src: url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    src: url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 100;
    src: url('https://www.bigdata-map.kr/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

.hidden {height:100%; min-height:100%; overflow:hidden !important; touch-action:none;}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;vertical-align: baseline;font-size: 100%;font: inherit;}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}

div, ol, ul, li {list-style: none;}
blockquote, q {quotes: none;}

blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

fieldset {clear:both;}

.scroll-style::-webkit-scrollbar { width:8px; } /* 스크롤 바 */
.scroll-style::-webkit-scrollbar-track { background:none; } /* 스크롤 바 밑의 배경 */
.scroll-style::-webkit-scrollbar-thumb { background:#ddd; border-radius:10px; background-clip:padding-box; border:2px solid transparent; } /* 실질적 스크롤 바 */
.scroll-style::-webkit-scrollbar-button { display:none; } /* 스크롤 바 상 하단 버튼 */

*{ margin:0; border:0; box-sizing:border-box; }
body { overflow-x:hidden; font-size:16px; color:#333; font-family:'Noto Sans KR',dotum,Tahoma,Verdana,AppleGothic,sans-serif; letter-spacing:-0.5px; }
div, p, span, a { line-height:1.4; }

a { color:#333; text-decoration:none; }

input, textarea, select { font-size:1em; color:#333; font-family:'Noto Sans KR',dotum,Tahoma,Verdana,AppleGothic,sans-serif; font-weight:400; }
input[type=text], input[type=date], input[type=password], textarea, input[type=number], input[type=email]   {padding:4px; border:1px solid #d5d5d5; }
input:focus, select:focus, textarea:focus { outline:none; }
input.radio, input.check, input.btn { border:0 !important; }
input.radio { margin-bottom:1px; }
label.chk { display:inline-block; margin:2px 15px 0 4px; }
label.chk2 { display:inline-block; margin:2px 5px 0 4px; }

ul,ol, ol li { list-style:none; padding:0; }
form { margin:0; padding:0; }
a img { border:0; }
noscript { position:absolute; z-index:10; background:#efefef; }
noscript p { margin:0; padding:0; }
em { font-style:normal; }
label { cursor:pointer; }
legend { visibility:hidden; height:0; width:0; font-size:0; line-height:0; overflow:hidden; position:absolute; }
form fieldset { border:none; padding:0; margin:0; }
img { vertical-align:middle; max-width:100%; }
h1,h2,h3,h4,h5,h6 { line-height: 1em; font-weight:normal; }
select {  }
select:before { /* 화살표 대체 */ content:""; position:absolute; top:50%; right:15px; width:0; height:0; margin-top:-1px; border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #333; }
img {font-size:0; line-height:0; }
select::-ms-expand { display:none; }

/* common */
#skip, ul.skiplist li.skip, .skipnavi, legend, span.skip { position: absolute ; font-size: 0px; line-height: 0px; overflow: hidden; visibility: hidden; text-indent: -1000px; }
caption {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}
.hide { display:none; }
.clfix:after { content: ""; display: block; clear: both; }

/* SKIP navigation */
.skipNav { position:absolute; top:0; left:0; list-style:none; margin:0; padding:0; width:20em; }
.skipNav li { display:inline; margin:0; padding:0; }
.skipNav li a { position:absolute; display:block; top:-200px; left:0; padding:5px 10px; background-color:#fafafa; color:#333; }
.skipNav li a:focus { top:0; left:0; }

/* HEADER area */
#header { position:fixed; top:0; left:0; z-index:100; width:100%; height:80px; background:#fff; /*box-shadow:0 5px 40px rgb(0 0 0 / 10%);*/ border-bottom:1px solid #d9d9d9;text-align:center; transition:all 0.3s; display:flex; justify-content: space-between;overflow:hidden;}

#header:before{
    content: "";
    display: block;
    width: 100%;
    height: 80px;
    background: #f31858;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 0;
}

/*#header:after{*/
/*    content: "";*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background: rgba(0,0,0,0.2);*/
/*    position: absolute;*/
/*    top: 80px;*/
/*    left: 0;*/
/*    z-index: 0;*/
/*}*/

#header.activation{height:160px;}

/*#header h1 { position:absolute; left:50px; top:23px; }*/
#header h1 a { display:block; width:189px; height:34px; background:url('http://www.bigdata-map.kr/img/home/common/logo_on.png')no-repeat; text-indent:-9999px; margin-left: 30px; margin-top:20px;}
#header a { color:#000; }
/*#header .gnbWrap { display:inline-block; line-height:80px; }*/
#header .gnb {display:flex;position:relative;}
#header .gnb .gnb-depth1-item {height:80px; padding:0 20px;}
#header .gnb .gnb-depth1-link {font-size:17px; line-height:80px;}

#header .gnb .gnb-depth2{position:absolute; display:none!important; height:80px;}
#header .gnb .gnb-depth2.activation{display:flex!important; opacity:1!important; height:auto!important;}
#header .gnb .gnb-depth2.activation.right{right:0;}
/*#header .gnb .gnb-depth2.sub-wrap{opacity:1!important; height:auto!important; display:initial!important;}*/
#header .gnb .gnb-depth2-item{margin-right:30px;}
#header .gnb .gnb-depth2-item:last-child{margin-right:0;}
#header .gnb .gnb-depth2-link{line-height:80px; color:#fff;}

#header .control { display:flex; }
#header .control li { height:80px; }
#header .control>li>a { display:block; width:80px; height:80px; text-indent:-9999px; position:relative;}
/*#header .control>li>a:after { content:""; position:absolute; top:0; bottom:0; left:-1px; width:1px; background:#e0e0e0; }*/
#header .control .login { background:url('http://www.bigdata-map.kr/img/home/common/ico_login_on.png') no-repeat center; }
#header .control .login_ok { background:url('http://www.bigdata-map.kr/img/home/common/ico_login_ok.png') no-repeat center; }
#header .control .menu-open { background:url('http://www.bigdata-map.kr/img/home/common/ico_menu_open_on.png') no-repeat center; }
#header .control .tutorial { background:url('http://www.bigdata-map.kr/img/home/common/icon-tutirial.png') no-repeat center; }
#header .control .manual { background:url('http://www.bigdata-map.kr/img/home/common/ico_manual.png') no-repeat center; }

#header .control .control-depth2{position:absolute; display:none; height:80px;}
#header .control .control-depth2.activation{display:flex!important; opacity:1!important; height:auto!important;}
#header .control .control-depth2-item{margin-right:30px;}
#header .control .control-depth2-item:last-child{margin-right:0;}
#header .control .control-depth2-link{line-height:80px; color:#fff;}

#header .footer-menu { background:#0551b1; padding:25px; }
#header .footer-menu li { position:relative; display:inline-block; margin:0 20px; }
#header .footer-menu li:after { content:''; position:absolute; top:50%; left:-22px; margin-top:-2px; width:4px; height:4px; background:#82a8d8; border-radius:50%; }
#header .footer-menu li:first-child:after { display:none; }
#header .footer-menu a { color:#fff; font-weight:300; }

.menu-wrap{visibility: visible !important;}
.menu-wrap {display:none; width:100%; height:100%; top:0; left:0; position:fixed; background-color:rgba(0,0,0,0.93); z-index:99999; }
.menu-wrap.activation{display:block;}
/*#header .menu-wrap.sticky { top:60px; }*/
.menu-wrap .menu { display:flex; align-items:stretch; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);width:760px;}
.menu-wrap .menu > li { flex:1 1 12.5%; padding: 30px 17px; background:#e90e4e; color:#fff; border-right:1px solid rgba(255,255,255,0.1);}
.menu-wrap .menu > li:hover { background:#c12855; }
.menu-wrap .menu dl{margin-bottom:50px;}
.menu-wrap .menu dl.mt0{margin-bottom:0}
.menu-wrap .menu dt { font-size:1.5em; font-weight:500; }
.menu-wrap .menu dt a { color:#fff; }
.menu-wrap .menu dt span { color:#fff; }
.menu-wrap .menu dd { font-size:1.125em; font-weight:300;  margin-top:15px;}
.menu-wrap .menu dd a { display:block; margin-top:15px; color:#fff; }
.menu-wrap .menu dd span { position:relative; display:inline-block; }
.menu-wrap .menu dd span::after { position:absolute; bottom:0; left:50%; content:''; width:0; height:1px; background-color:#fff; transition:.3s; -webkit-transform:translateX(-50%); transform:translateX(-50%); }
.menu-wrap .menu dd span:hover::after { width: 100%; }
.menu-wrap .menu-close { display:block; width:80px; height:80px; text-indent:-9999px; background:url('http://www.bigdata-map.kr/img/home/common/ico_menu_close.png')no-repeat center #e90e4e; position:absolute;top:0;right:0;}
/*
#header.on { background:rgba(0,0,0,0.1); border-bottom:1px solid rgba(255,255,255,0.2); box-shadow:none; }
#header.on:after{
    background:rgba(255,255,255,0.2);
}


#header.on h1 a { background-image:url('../img/home/common/logo.png'); }
#header.on a { color:#fff; }
#header.on .menu a { color:#fff; }
#header.on .control li:after { background:rgba(255,255,255,0.2); }
#header.on .control .login { background-image:url('../img/home/common/ico_login.png'); }
#header.on .control .login_ok { background:url('../img/home/common/ico_login_ok.png') no-repeat center; }
#header.on .control .menu-open { background-image:url('../img/home/common/ico_menu_open.png'); }
*/
#header .menu-wrap.on { height:100%; }

.sub #header { position:absolute; }

/* FOOTER area */
#footer { border-top:1px solid #e0e0e0; padding:30px 0; margin-top:50px;}
#footer .content { position:relative; }
#footer .util li { position:relative; display:inline-block; padding:0 20px; word-break:keep-all; line-height:50px; }
#footer .util li a { font-size:1.125em; }
#footer .util li:first-child { padding-left:0; }
#footer address { padding:0 0 20px 0; color:#aaaaaa; font-weight:300; }
#footer address span:nth-of-type(2) { position:relative; padding-right:20px; }
#footer address span:nth-of-type(2):after { content:''; position:absolute; right:10px; top:5px; bottom:5px; width:1px; background:#e0e0e0 }
#footer .info { color:#aaaaaa; font-weight:300; }
#footer .footer-logo { position:absolute; bottom:0; right:0; display:flex; flex-wrap:wrap; align-items:center;  }
#footer .footer-logo li { margin-left:30px; }

.top { z-index:10; position:fixed; bottom:40px; right:40px; display:none; width:50px; height:50px; border:1px solid #e0e0e0; border-radius:50%; text-indent:-9999px;
	background:url('http://www.bigdata-map.kr/img/common/top.png')no-repeat center #fff; }

/* CONTENT area */
.content { width:1280px; margin:0 auto; }

/*  */
.spoqa { font-family:'Spoqa Han Sans Neo', 'sans-serif'; }

.mob { display:none !important; }
.web { display:block !important; }
.clearfix:after { content:''; clear:both; display:block; }

a.disabled { opacity:0.5; cursor:default; }
textarea:disabled { background-color:#f7f7f7; color:#999; }
select:focus, select:hover { border-color:#868686 !important; }
/*input:focus, input:hover { border-color:#868686 !important; }*/
.dropdown:focus, .dropdown:hover { border-color:#868686 !important; }

/* color */
.blue, a.blue { color:#066ef0; }
.red, a.red { color:#f3485d; }
.c-grey { color:#717171; }
.text-error { color:#f3485d; }

.tac { text-align:center; }
.tar { text-align:right; }
.tal { text-align:left; }

.w-full { width:100% }
.w-48 { width:48%; }
.w-p100 { width:100% !important; }
.w-100 { width:100px !important; }
.w-160 { width:160px !important; }
.w-200 { width:200px; }
.w-300 { width:300px; }

/* 1109추가  */
.mt0 { margin-top:0px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt30 { margin-top:30px; }
.mt40 { margin-top:40px; }
.mt50 { margin-top:50px; }
.mt60 { margin-top:60px; }
.mt90 { margin-top:90px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mb25 { margin-bottom:25px; }
.mb30 { margin-bottom:30px; }
.mb40 { margin-bottom:40px; }
.mb50 { margin-bottom:50px; }
.mb60 { margin-bottom:60px; }

/**/
.main-content { position:relative; }
.sub-content { position:relative; padding:80px 0 /* 100px; */ 240px;  padding-bottom: 0px;}

.top-line { margin:20px 0; height:1px; background:#e0e0e0; }

.reset span { padding-left:25px; background:url('http://www.bigdata-map.kr/img/home/common/ico_reset_red.png')no-repeat left center; }
.noti span { display:inline-block; padding-left:30px; line-height:20px; font-weight:300;
	background:url('http://www.bigdata-map.kr/img/renewal/common/icon-caution.png')no-repeat left top /20px; }
.ico-wait { display:inline-block; width:30px; height:26px; margin-right:10px; background:url('http://www.bigdata-map.kr/img/home/common/ico-wait.png')no-repeat left center / 30px; }
.ico_fail { display:inline-block; width:24px; height:24px; margin-right:10px; background:url('http://www.bigdata-map.kr/img/home/common/ico_fail.png')no-repeat left center / 24px; }
.ico-naver { display:inline-block; width:22px; height:20px; background-image:url('http://www.bigdata-map.kr/img/home/common/ico_naver.png'); }
.ico-kakao { display:inline-block; width:24px; height:22px; background-image:url('http://www.bigdata-map.kr/img/home/common/ico_kakao.png'); }
.ico-google { display:inline-block; width:22px; height:22px; background-image:url('http://www.bigdata-map.kr/img/home/common/ico_google.png'); }

/**/
a.underline { text-decoration:underline; }
a.link-line { display:inline-block; padding-right:20px; font-size:20px; font-weight:500; background:url('http://www.bigdata-map.kr/img/home/common/link-arrow-bk.png')no-repeat right center; }
a.link-line span { position:relative; display:inline-block; }
a.link-line span::after { position:absolute; bottom:0; left:50%; content:''; width:0; height:1px; background-color:#000; transition:.3s; -webkit-transform:translateX(-50%); transform:translateX(-50%); }
a.link-line:hover span::after { width: 100%; }

a.link-line.arrowS { padding-right:15px; font-size:1.125em; font-weight:300;
	background:url('http://www.bigdata-map.kr/img/home/common/link-arriow-bk_S.png')no-repeat right center; margin: auto;}
a.link-line.blue { background-image:url('http://www.bigdata-map.kr/img/home/sub/link-arrow-bl.png'); }
a.link-line.blue span::after { background-color:#f31858; }

a.down span { padding-left:25px; background:url('http://www.bigdata-map.kr/img/home/sub/ico_down.png')no-repeat left center; }
a.share span { padding-left:25px; background:url('http://www.bigdata-map.kr/img/home/sub/ico_share.png')no-repeat left center; }
a.change span { padding-left:25px; background:url('http://www.bigdata-map.kr/img/home/common/ico_change.png')no-repeat left center; }
a.white.reset span { padding-left:25px; background:url('http://www.bigdata-map.kr/img/home/common/ico_reset_wh.png')no-repeat left center; }

/* btn */
.btn-wrap.col2 a { display:block; float:left; width:48%; margin-right:4%; }
.btn-wrap.col2 a:last-child { margin-right:0; }
.btnNew-wrap.col2 .btnNew.line.w-200 { color:#f31858; border:2px solid #f31858; }
.btnNew-wrap.col2 .btnNew.blue.w-200 { background:#f31858; border:2px solid #f31858; }

.modal-point .btn-wrap.col2 .btnNew.line { color:#f31858; border:2px solid #f31858; }
.modal-point .btn-wrap.col2 .btnNew.blue { background:#f31858; border:2px solid #f31858; }

.search-detail-pop .btn-wrap.col2 .btnNew.line { color:#f31858; border:2px solid #f31858; }
.search-detail-pop .btn-wrap.col2 .btnNew.blue { background:#f31858; border:2px solid #f31858; }

.btnNew { display: block; line-height:50px; text-align:center; font-size:1.25em; font-weight:bold; border-radius:40px; }
.btnNew.line { line-height:46px; color:#f31858; border:2px solid #f31858; }
.btnNew.blue { line-height:46px; background:#f31858; border:2px solid #f31858; color:#fff; }
.btnNew.grey { background:#9da1a6; color:#fff; }
.btnNew.charcoal { background:#3b434e; color:#fff; }
.btnNew.red-line { border:1px solid #f3485d; color:#f3485d; }
.btnNewS { padding:0 20px; line-height:35px; text-align:center; font-weight:300; border-radius:20px; }
.btnNewS.grey { background:#9da1a6; border:2px solid #9da1a6; color:#fff; }
.btnNew-size2 { font-size:1em; }
.btnNew.red-bg{background:#f31858;color:#fff;}
.btnNew.red-line{color:#f31858;border-color:#f31858;border-width:2px;}
.btnNew.red-line.reset span{background:url('http://www.bigdata-map.kr/img/home/main/ico_reset_red.png')no-repeat left center;}
.newLogin .btnNew.blue{background:#f31858;border-color:#f31858;}
.join-wrap-new .btnNew.blue{background:#f31858;border-color:#f31858;}
.profiling .btnNew.blue{background:#f31858;border-color:#f31858;}

.join-wrap-new .noti span{background-image:url('http://www.bigdata-map.kr/img/home/common/icon-caution.png');}
.show-map-btn { margin-top:50px !important; }

.btnNew.btn35 { padding:0 20px; line-height:35px; font-size:1em; font-weight:300; border-radius:20px; }
.btnNew.btn60 { line-height:60px; }
.btn60.line, .btn60.blue { line-height:56px; }
.btnNew.btn70 { line-height:70px; }
.btn70.line, .btn70.blue { line-height:66px; }

/* socialbtn */
.btnNew.btn-social { background-color:#ebf0f7; background-repeat:no-repeat; background-position:left 20px center; }
.btnNew.naver { background-image:url('http://www.bigdata-map.kr/img/common/ico_naver.png'); }
.btnNew.kakao { background-image:url('http://www.bigdata-map.kr/img/common/ico_kakao.png'); }
.btnNew.google { background-image:url('http://www.bigdata-map.kr/img/common/ico_google.png'); }

/**/
.check_style1{
    position:relative;
}
.check_style1 .classifyAll{
    position:relative;
}

.check_style1.btn-rescan{
    position:relative;
}

.check_style1 label { display:block; position:relative; padding-left:28px; line-height:26px; width: 143px; }
.check_style1 input[type="checkbox"]{
    position: absolute;
    top: 3px;
    width: 20px;
    height: 20px;
}
.check_style1 input[type="checkbox"]:focus {
    box-shadow:0 0 10px #000;
}
.check_style1 input[type="checkbox"] + label span { display:inline-block; width:20px; height:20px; position:absolute; top:3px; left:0;
	background:url('http://www.bigdata-map.kr/img/home/common/check_btn.png') 0 center no-repeat; }
.check_style1 input[type="checkbox"]:checked + label span { background:url('http://www.bigdata-map.kr/img/home/common/check_btn_check.png') 0 center no-repeat; }

.select-style1 { width:200px; height:50px; padding:0 50px 0 30px; border:1px solid #e0e0e0; border-radius:25px;
	background:url('http://www.bigdata-map.kr/img/home/sub/select-style1_arrow.png') right 30px center no-repeat; }
.select-style2 { width:300px; line-height:50px; padding:0 50px 0 30px; border:1px solid #e0e0e0; border-radius:25px;
	background:url('http://www.bigdata-map.kr/img/home/sub/select-style1_arrow.png') right 30px center no-repeat;}

/* radio_style1 */
/*.radio_style1 { overflow:hidden; }*/
.radio_style1 label { float:left; text-align:center; line-height:40px; font-weight:300; box-sizing:border-box; border:1px solid #e0e0e0; }
.radio_style1 label span { font-size:12px; }
.radio_style1.col3 label { width:32%; margin-right:2%;  }
.radio_style1.col3 label:nth-of-type(3n) { margin-right:0; }
.radio_style1.col4 label { width:23.5%; margin-right:2%; }
.radio_style1.col4 label:nth-of-type(4n) { margin-right:0; }
/*.radio_style1 input[type="radio"] {display:none; }*/
/*.radio_style1 input[type="radio"]:checked+label { background:#3b434e; color:#fff; }*/

/* radio_style2 */
.radio_style2 label { display:inline-block; position:relative; padding-left:28px; }
.radio_style2 input[type="radio"] { display:none; }
.radio_style2 input[type="radio"] + label span { display:inline-block; width:20px; height:20px; position:absolute; top:2px; left:0;
	background:url('http://www.bigdata-map.kr/img/home/common/radio_btn.png') 0 center no-repeat; }
.radio_style2 input[type="radio"]:checked + label span { background:url('http://www.bigdata-map.kr/img/home/common/radio_btn_check.png') 0 center no-repeat; }

/* shortcuts */
.shortcuts { position:absolute; right:0; top:0; display:flex; align-items:center;}
.shortcuts .select-style2 { padding:0; background-image:url('http://www.bigdata-map.kr/img/home/sub/select-style1_arrow_up.png'); cursor:pointer; }
.shortcuts p { padding:0 50px 0 30px; line-height:50px; }
.shortcuts a { width:80px; margin-left:10px; font-size:1em; font-weight:300; }
.shortcuts a span { color:#fff; }

.shortcuts ul { display:none; overflow:auto; position:absolute; left:0; bottom:50px; width:300px; height:300px; background:#fff; border-radius:25px 25px 0 0; border:1px solid #e0e0e0; }
.shortcuts li { line-height:1.4; padding:15px 30px; }
.shortcuts li:hover { background:#f2f2f2; }

.shortcuts .select-style2.on { border-radius:0 0 25px 25px; background-image:url('http://www.bigdata-map.kr/img/home/sub/select-style1_arrow.png') }
.shortcuts .select-style2.on ul { display:block; }

.myPage-tab-mg{	margin-top:5rem;}

/**/
.fixed-dim { display:none; z-index:90; position:fixed; background:rgba(0,0,0,0.3); top:0; left:0; right:0; bottom:0; }
.fixed-dim.on { display:block; }
.dim { z-index:100; position:fixed; background:rgba(0,0,0,0.3); top:0; left:0; right:0; bottom:0; }

.pop { display:none; position:absolute; top:0; left:0;}
.pop.on { display:block; }
.pop-wrap { z-index:110; position:fixed; width:600px; transform:translate(-50%,-50%); left:50%; top:50%; background:#fff; overflow:auto; max-height:95vh; }
.pop .pop-title { line-height:80px; text-align:center; font-size:26px; font-weight:bold; border-bottom:1px solid rgba(0,0,0,0.1); }
.pop .pop-close { z-index:100; position:absolute; top:20px; right:20px; background:url('http://www.bigdata-map.kr/img/home/common/pop-close.png')no-repeat center;
	width:40px; height:40px; display:block; }
.pop .pop-cont { overflow:hidden; padding:40px; }

/* 검색가이드팝업 */
.search-guide-box:first-child { padding-top:0; }
.search-guide-box:last-child { padding-bottom:0; border-bottom:0; }
.search-guide-box { padding:12px 0; border-bottom:1px solid rgba(0,0,0,0.1); }
.search-guide-box .title { margin-bottom:10px; font-size:1em; }
.search-guide-box .ex { overflow:hidden; margin:10px 0; }
.search-guide-box .ex span { display:block; width:10%; float:left; line-height:30px; font-weight:300; }
.search-guide-box .ex .input { float:left; width:90%; padding:0 30px; background:#fafafa; border:1px solid #3b434e; border-radius:20px; line-height:30px; font-weight:500; }
.search-guide-box .grey { color:#c5c5c5; font-weight:400; }

/* 상세검색팝업 */
.search-detail-pop .pop-wrap { width:930px; max-height:90vh; }
.search-detail-pop form { width:100%; background:#fff; color:#000; }
.search-detail-pop .select-wrap { overflow:hidden; }
.search-detail-pop .select-new { float:left; width:20%; }
.search-detail-pop .radio-new { float:left; width:40%; padding-left:2%; }
.search-detail-pop .title { margin-bottom:20px; font-size:1.125em; font-weight:500; text-align:center; }

.search-detail-pop .ul-wrap { overflow-y:scroll; height:425px; padding-left:15px; border:1px solid #e0e0e0; border-left:0; } /*공공 민간 추가시 height:535px;*/
.search-detail-pop .select-new:first-child .ul-wrap { border-left:1px solid #e0e0e0; }
.search-detail-pop .ul-wrap .dt { margin:11px 0; }
.search-detail-pop .ul-wrap .dd { margin-left:10px; margin-bottom:5px; font-size:14px; line-height:26px; font-weight:300; color:#8f8f8f; }

.search-detail-pop .btn-wrap { max-width:410px; margin:50px auto 0; }
.search-detail-pop .btn-wrap .btn.style1 span { padding-left:30px; background:url('http://www.bigdata-map.kr/img/common/ico_reset.png')no-repeat left center; }
.search-detail-pop .date { overflow:hidden; margin-top:5px; }
.search-detail-pop .date * { float:left; }
.search-detail-pop .date input { width:46%; height:40px; }
.search-detail-pop .date p { width:8%; text-align:center; line-height:40px; }

.point-pop .pop-wrap { width:500px; }

/* 로그인 팝업 */
.login-pop { padding:30px 0; border-bottom:1px solid rgba(0,0,0,0.1); }
.login-pop .textfield-group input { height:60px; padding:0 40px; margin-bottom:10px; border-radius:30px; font-size:1.125em; font-weight:300; }
.login-pop .save-id { display:flex; justify-content:flex-end; }
.login-pop .text-error { padding:0 40px; }
.login-pop .save-id { margin:10px 0 40px; }
.login-pop .check_style1 label { width:105px; text-align:right; }
.login-pop .social { display:flex; justify-content:space-between; flex-wrap:wrap; margin-top:20px; } 
.login-pop .btn-social { display:flex; justify-content:center; flex-wrap:wrap; align-items:center; width:31%; height:60px; font-size:15px; font-weight:normal; }
.login-pop .btn-social i { margin-right:10px; }

.login-menu { margin-top:40px; text-align:center; }
.login-menu li { display:inline-block; }
.login-menu a { font-weight:300; }

/* 로그인 에러시 로그인페이지 */
.newLogin {max-width: 580px !important;}
.newLogin .textfield-group input { height:60px; padding:0 40px; margin-bottom:10px; border-radius:30px; font-size:1.125em; font-weight:300; }
.newLogin .save-id { display:flex; justify-content:flex-end; margin:10px 0 40px;}
.newLogin .save-id-inner{position:relative;}
.newLogin .text-error { padding:0 40px; }
/*.newLogin .save-id { margin:10px 0 40px; }*/
.newLogin .check_style1 label { width:105px; text-align:right; }
.newLogin .social { display:flex; justify-content:space-between; flex-wrap:wrap; margin-top:20px; } 
.newLogin .btn-social { display:flex; justify-content:center; flex-wrap:wrap; align-items:center; width:31%; height:60px; font-size:15px; font-weight:normal; }
.newLogin .btn-social i { margin-right:10px; }

/* 품질인증 가이드 */
.data-quality-pop .pop-wrap {max-width:1000px;width:100%; }
.data-quality-pop.pop .pop-title{text-align:left;line-height:inherit;padding:20px 0;}
.data-quality-pop.pop .pop-title span{    display: inline-block;padding-left:10px;width:calc(100% - 60px);}
.data-quality-pop .data-quality-con > ul > li{color:#000;margin:4px 0;}
.data-quality-pop .data-file-list{margin:15px 0 0 0;display:flex; justify-content:space-between; flex-wrap:wrap;align-items:center;}
.data-quality-pop .data-file-list p{color:#f31858;}
.data-quality-pop .data-file-list p + p a{border: 1px solid #4b4563;display: inline-block;padding: 5px 20px;border-radius: 20px;vertical-align: middle;}
.data-quality-pop .data-file-list div{padding:10px;margin:15px 0 0 0;width:100%;border:1px solid #e0e0e0;height:118px;overflow-y:auto;}
.data-quality-pop .data-file-list div ul li{margin:9px 0;}

#header .footer-menu { background:#0551b1; padding:25px; }
#header .footer-menu li { position:relative; display:inline-block; margin:0 20px; }
#header .footer-menu li:after { content:''; position:absolute; top:50%; left:-22px; margin-top:-2px; width:4px; height:4px; background:#82a8d8; border-radius:50%; }
#header .footer-menu li:first-child:after { display:none; }
#header .footer-menu a { color:#fff; font-weight:300; }

/* common */
.radio_style1 { /*overflow:hidden;*/ display:block; height:42px;}
.radio_style1 label { float:left; text-align:center; line-height:40px; font-weight:300; box-sizing:border-box; border:1px solid #e0e0e0; }
.radio_style1 label span { font-size:12px; }
.radio_style1.col3 label { width:32%; margin-right:2%;  }
.radio_style1.col3 label:nth-of-type(3n) { margin-right:0; }
.radio_style1.col4 label { width:23.5%; margin-right:2%; }
.radio_style1.col4 label:nth-of-type(4n) { margin-right:0; }
/*.radio_style1 input[type="radio"] {display:none;}*/
.radio_style1 input[type="radio"] {position: absolute; z-index: -1;}
.radio_style1 input[type="radio"]:focus + label { box-shadow:0 0 10px black; }
.radio_style1 input[type="radio"]:checked+label { background:#3b434e; color:#fff; }
.radio_style1.col3 label.line2{height:42px;line-height:20px;}

.shortcuts { position:absolute; right:0; top:0; display:flex; align-items:center;}
.shortcuts .select-style2 { padding:0; background-image:url('http://www.bigdata-map.kr/img/home/sub/select-style1_arrow.png'); cursor:pointer; }
/* .shortcuts .select-style2 { padding:0; background-image:url('../img/home/sub/select-style1_arrow_up.png'); cursor:pointer; } */
.shortcuts p { padding:0 50px 0 30px; line-height:50px; }
.shortcuts a { width:80px; margin-left:10px; font-size:1em; font-weight:300; }
.shortcuts a span { color:#fff; }

.shortcuts ul { display:none; overflow:auto; position:absolute; left:0; bottom:50px; width:300px; height:300px; background:#fff; border-radius:25px 25px 0 0; border:1px solid #e0e0e0; }
.shortcuts li { line-height:1.4; padding:15px 30px; }
.shortcuts li:hover { background:#f2f2f2; }

.shortcuts .select-style2.on { border-radius:0 0 25px 25px; background-image:url('http://www.bigdata-map.kr/img/home/sub/select-style1_arrow_up.png') }
/* .shortcuts .select-style2.on { border-radius:0 0 25px 25px; background-image:url('../img/home/sub/select-style1_arrow.png') } */
.shortcuts .select-style2.on ul { display:block; }

.myPage-tab-mg{	margin-top:5rem;}

.descText{ padding-top: 40px; }

@-webkit-keyframes flipText {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

@keyframes flipText {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

.check_style2{
    position:relative;
}
.check_style2 label { display:block; position:relative; padding-left:35px; line-height:26px; }
.check_style2 input[type="checkbox"] {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 2px;
}

.check_style2 input[type="checkbox"]:focus{
    box-shadow:0 0 2px 2px #999;
}
.check_style2 input[type="checkbox"] + label i { display:inline-block; width:25px; height:25px; position:absolute; top:2px; left:0; border:1px solid #cccccc; background:#fff;}
.check_style2 input[type="checkbox"]:checked + label i { background:url('http://www.bigdata-map.kr/img/home/common/check2_btn_check.png') 0 center no-repeat; border:0; }
.likeRadio { float: left; margin-right: 15px; height: 30px;}
.clear{ overflow: hidden;}

.dataSetDesc { overflow : hidden; text-overflow : ellipsis; height : 22px; word-wrap : break-word; display : -webkit-box; -webkit-line-clamp : 1; -webkit-box-orient: vertical; }
.dataSetPlatformColor6 { color:#f3485d; } /* 유통 */
.dataSetPlatformColor9 { color:#2ac887; } /* 헬스케어 */
.dataSetPlatformColor5 { color:#9c6be7; } /* 문화 */
.dataSetPlatformColor4 { color:#48b4ff; } /* 환경 */
.dataSetPlatformColor13 { color:#e54fb2; } /* 소방안전 */
.dataSetPlatformColor3 { color:#4669ff; } /* 지역경제 */
.dataSetPlatformColor10 { color:#74d76a; } /* 산림 */
.dataSetPlatformColor7 { color:#fd7a4d; } /* 통신 */
.dataSetPlatformColor1 { color:#68687e; } /* 중소기업 */
.dataSetPlatformColor17 { color:#5f5f5f; } /* 디지털산업 */
.dataSetPlatformColor2 { color:#2f5484; } /* 교통 */
.dataSetPlatformColor8 { color:#fdc141; } /* 금융 */
.dataSetPlatformColor16 { color:#b97846; } /* 라이프로그 */
.dataSetPlatformColor18 { color:#8ec329; } /* 농식품 */
.dataSetPlatformColor15 { color:#4373c3; } /* 해양수산 */
.dataSetPlatformColor14 { color:#1eb2bf; } /* 스마트치안 */
.dataSetPlatformColor11 { color:#bbc745; } /* 데이터스토어 */
.dataSetPlatformColor12 { color:#44978b; } /* aihub */
.dataSetPlatformColor19 { color:#0b70b9; } /* 공공데이터포털 */
.dataSetPlatformColor20 { color:#541300; } /* 금융데이터거래소 */


#footer .snsUploadUtil li   {
    position: relative;
    display: inline-block;
    height: 25px;
    overflow: hidden;
  }
  
.link-icon {
	display: inline-block;
    margin-right: -20px;
    padding-top: 3px;
    text-indent: 100%;
    overflow: hidden;
    }
.link-icon.facebook { background-image: url(http://www.bigdata-map.kr/img/common/icon-facebook.png); background-repeat: no-repeat; } 
.link-icon.blog { background-image: url(http://www.bigdata-map.kr/img/common/icon-blog.png); background-repeat: no-repeat; margin-right: -50px;} 

#footer .footer_privacy{ font-size: 1.25em !important ; font-weight: 600;}

/*========스켈레톤 애니메이션 시작========*/
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: justify;
}
@media (max-width: 767.98px) {
    .flex {
        display: grid;
    }
    body {
        overflow: unset;
    }
}

/*스켈레톤 메인 컨테이너*/
.skeleton_loading {
    position: absolute;
    width: 95%;
    height: 87%;
    background: #fff;
    z-index: 10;
}
 
/* 스켈레톤 텍스트 */
.skeleton_text:nth-child(1) {
    width: 35%;
    height: 27px;
    margin: -1px 0 5px -3px;
}
.skeleton_text:nth-child(2) {
    width: 35%;
    height: 27px;
    margin: -1px 0 5px -3px;
    position: absolute;
    right: 3px;
    top: 0px;
}

.skeleton_text:nth-child(3) {
    width: 100%;
    height: 35px;
    margin: 10px 0 10px -3px;
}

.skeleton_text:nth-child(4) {
    width: 100%;
    height: 30px;
    margin: 10px 0 10px -3px;
}
.skeleton_text:last-child {
	width: 51%;
    margin: 10px 0 5px -3px;
    height: 27px;
}
 
.skeleton_loading * {
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    border-radius: 1rem;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 1s infinite;
}

.__se_tbl_ext{
    font-weight:normal!important;
}

.lHidden{
    display:inline-block;
    width:0;
    height:0;
    font-size:0;
    overflow:hidden;
}

map{
    display:inline-block;
    width:0;
    height:0;
}

@keyframes load {
    100% {
        background-position: -100% 0;
    }
}