/*********** LAYOUT **********/
#container{position:relative; width:1200px; height:500px; left:300px; padding:46px 0 40px 0; margin:0 auto; margin-top:150px; margin-bottom:200px; margin-right:690px;}
#container:after {content:""; display:block; clear:both;}
#outbox{width:100%; margin:20px 0 0 0; overflow:hidden; left:30px;}



/** LOCATION **/
#location{position:absolute; right:0; top:11px; overflow:hidden;}
#location ol{float:right; padding:0 0 0 7px;}
#location ol li{float:left; padding:12px 14px 12px 7px; line-height:1; font-size:11px; color:#888; background:url('../images/bg/bg_location.gif') right 12px no-repeat;}
#location ol li.last{background:url(none); padding:12px 0 12px 7px; color:#333; font-weight:600;}
#location ol li a{text-decoration:none; color:#888;}
#location ol li a:hover{text-decoration:none; color:#888;}

/** LEFT **/
#left{float:left; width:180px; margin:100px 50px 0 50px; left:300px; overflow:hidden;}
#left #title{width:100%; height:81px; font-size:34px; color:#444; font-weight:600; letter-spacing:-1px; line-height:1;}
#left #title span{display:block; font-size:14px; color:#888; font-weight:600; line-height:2;}
#left #title2{width:100%; height:81px; font-size:27px; color:#444; font-weight:600; letter-spacing:-1px; line-height:1;}
#left #title2 span{display:block; font-size:14px; color:#888; font-weight:600; line-height:2;}
#left ul li{width:100%; height:29px; border-bottom:1px #d9d9d9 solid;}
#left ul li a{display:block; height:29px; line-height:29px; padding:0 0 0 10px; color:#666; font-size:15px; font-weight:600;}
#left ul li a.hover{background:url('../images/bg/bg_left.png') 163px 8px  rgb(0, 128, 255)  no-repeat; color:#fff;}
#left ul li a:hover{background:163px 8px  rgb(0, 128, 255)  no-repeat; color:#fff;}
#left ul li.last{border:0;}

/** CONTENTS **/
#contents{float:left; width:900px;}
#contents h2{height:86px; text-align:center; border:none;}
#contents h2 strong{width:100%; display:block; font-size:40px; font-weight:600; color:#444; margin:0 0 10px 0;}
#contents h2 span{width:100%; display:block; font-size:14px; color:#888; font-weight:normal; line-height:1.2; word-break:keep-all;}

/* FAQ */
.faqList{width:100%; border-bottom:1px #d9d9d9 solid; margin:16px 0 0 0;  margin-bottom:50px; text-align:left;}
.faqList ul li{position:relative; width:100%; border-top:1px #eaeaea solid; overflow:hidden; }
.faqList ul li a{text-decoration:none;}
.faqList div{position:relative; width:100%; overflow:hidden;}
.faqList ul li .na{position:absolute; left:50px; font-size:15px; font-weight:600; color:#666;}
.faqList ul li .date{position:absolute; left:670px; font-size:15px; font-weight:600; color:#666;}
.faqList ul li .img{ font-weight:600; color:#666; left:800px; font-size:15px; text-decoration:none;}
.faqList ul li .list{width:100%; margin:10px 0; padding:2px 0; line-height:1.2; overflow:hidden; }
.faqList ul li .list .deleteCheck{position:absolute; left:15px;   font-size:14px; font-weight:600; color:#666;}
.faqList ul li .list .name{position:absolute; left:50px; font-size:15px; font-weight:600; color:#666;}
.faqList ul li .list .ddate{position:absolute; left:670px; font-size:15px; font-weight:600; color:#666;}
.faqList ul li .list .image{font-size:13px; font-weight:200; color:#666; left:800px; font-size:14px; text-decoration:none; width:70px; }

#myMedicineHd{width:100%; bottom:10px;}

#medicineAdd, #medicineDel {background:rgb(0,128,255); color:#fff; border:none; position:absolute; left:700px;}
#medicineDel{position:absolute; left:800px;}

.faqList ul li .list .blets{position:absolute; left:25px; font-size:14px; font-weight:600; color:#666; line-height:600%;}
.faqList ul li .list .categorys{position:absolute; float:left; margin-left:40px; font-size:12px; font-weight:600; color:#666; line-height:500%;}
.faqList ul li .list .titles{font-size:18px; font-weight:600; color:#666; float:left; margin-left:40px; line-height:700%; }
.faqList ul li .list .bbdate{font-size:12px; font-weight:600; color:#666; text-align:right; position:absolute; bottom:20px; overflow:hidden; width:630px;}
.faqList ul li .list .bbhit{font-size:12px; font-weight:600; color:#666; float:right; margin-left:160px; bottom:20px; position:absolute; overflow:hidden;}
.faqList ul li .list .bbchat{font-size:12px; font-weight:600; color:#666; float:right; margin-left:67px; bottom:20px; position:absolute; overflow:hidden;}
.faqList ul li.hover .list{background: rgb(0, 128, 255); }
.faqList ul li.hover .list .number{color:#fff;}
.faqList ul li.hover .list .blets{color:#fff;}
.faqList ul li.hover .list .name{color:#fff;}
.faqList ul li.hover .list .categorys{color:#fff;}
.faqList ul li.hover .list .image{color:#fff;}
.faqList ul li.hover .list .titles{color:#fff;}
.faqList ul li.hover .list .bbdate{color:#fff;}
.faqList ul li.hover .list .bbhit{color:#fff;}
.faqList ul li.hover .list .bbchat{color:#fff;}

 /* left:25px; top:14px;
 left:65px; top:14px; */

/* ANSWER */
.faqanswer{display:none; width:100%; background:#f9f9f9; overflow:hidden; clear:both;}
.faqanswer .faqbox{position:relative; border-top:1px #eaeaea solid; padding:10px 20px 10px 22px;}
.faqanswer .faqbox:after {content:""; display:block; clear:both;}
.faqanswer .faqbox .blet{position:relative; font-size:14px; font-weight:600; color:rgb(0, 128, 255); line-height:1.4;}
.faqanswer .faqbox .text{position:relative; font-size:13px; color:#888; line-height:1.4; left: 13px;}
.faqanswer .faqbox .text strong{color:#444;}

/* BTN AREA */
.btnAreaList{position:relative; width:100%; text-align:center; clear:both;}

/* PAGING */
.allPageMoving1{margin:30px 0 0 0;}
.allPageMoving1 *{vertical-align:top;}
.allPageMoving1 a{display:inline-block;width:25px;height:25px;line-height:23px;color:#888;text-decoration:none; border:1px #c0c0c0 solid; background:#fff; font-size:12px;}
.allPageMoving1 a.n{border:0;padding:0;}
.allPageMoving1 a.pre{border:0;padding:0;margin-top:-1px;}
.allPageMoving1 a.next{border:0;padding:0;margin-top:-1px;}
.allPageMoving1 a img{vertical-align:top;}
.allPageMoving1 span.mobile{display:none;}
.allPageMoving1 .faqq:hover{display:inline-block; width:25px; height:25px; line-height:23px; color:rgb(0, 128, 255); text-decoration:none; border:1px rgb(0, 128, 255) solid; background:#fff; font-size:12px; font-weight:normal;}

